<ng-container *ngIf="user$ | async as user">
<div *ngIf="favoriteCharacter?.length ; else noResult"  class="container">
  <div class="row center">
    <div *ngFor="let item of favoriteCharacter | paginate:{itemsPerPage:tableSize,currentPage:page,totalItems:count};let i=index" class="col-md-3">
      <img
        width="300"
        height="300"
        class="profile-image-toolbar"
        [src]=item.image
      />
      <div class="container mt-2">

        <ol>
          <li><b>Name:</b>{{item.name}}</li>
          <li><b>Species:</b>{{item.species}}</li>
          <li><b>Gender:</b>{{ item.gender }}</li>
        </ol>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-9">
            <button
              class="mb-2"
              type="submit"
              mat-raised-button
              color="primary"
              (click)="characterService.routePage('/details',item.id)"
            >
              Details this character
            </button>
          </div>
          <div class="col-lg-3">
            <button
              (click)="removeFromFavorite(item.id,user.email)"
              mat-raised-button
              color="primary"
            >
              <mat-icon>delete</mat-icon></button>
          </div>
        </div>
      </div>
    </div>

  </div>
    <div  class="center">
      <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        (pageChange)="onTableDataChange($event)"
      ></pagination-controls>
    </div>
  </div>
  <div class="center">
    <button
      class="mb-2 mt-2 text-center "
      mat-raised-button
      color="primary"
      (click)="characterService.routePage('home')"
    >
      <mat-icon>home</mat-icon></button>
  </div>
</ng-container>

<ng-template #noResult>
  <h1>You dont have any favorite character!</h1>
</ng-template>
